@import "./base/_mixins";
@import "./base/_bs_theme";
@import "./base/_bs-select";
@import "./base/_base";

:root {
    --primary-color: #7D2AE8;
    --secondary-color: #5DC33C;
    --input-height: 45px;
    --navbar-top-height: 50px;
    --navbar-bottom-height: 60px;
    --landscape-max-width: 450px;

    @media screen and (max-width:768px) {
        --input-height: 50px;
    }

    @supports (padding-bottom: constant(safe-area-inset-bottom)) {
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    }

    @supports (padding-top: constant(safe-area-inset-top)) {
        --safe-area-inset-top: constant(safe-area-inset-top);
    }

    @supports (padding-left: constant(safe-area-inset-left)) {
        --safe-area-inset-left: constant(safe-area-inset-left);
    }

    @supports (padding-right: constant(safe-area-inset-right)) {
        --safe-area-inset-right: constant(safe-area-inset-right);
    }

    @supports (padding-bottom: env(safe-area-inset-bottom)) {
        --safe-area-inset-bottom: env(safe-area-inset-bottom, #{$safe-area-inset-bottom});
    }

    @supports (padding-top: env(safe-area-inset-top)) {
        --safe-area-inset-top: env(safe-area-inset-top, #{$safe-area-inset-top});
    }

    @supports (padding-left: env(safe-area-inset-left)) {
        --safe-area-inset-left: env(safe-area-inset-left, #{$safe-area-inset-left});
    }

    @supports (padding-right: env(safe-area-inset-right)) {
        --safe-area-inset-right: env(safe-area-inset-right, #{$safe-area-inset-right});
    }
}

html,
body {
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    scrollbar-gutter: stable;
    touch-action: none;
    overflow-y: scroll;
    overscroll-behavior: none;
    overscroll-behavior-block: none;

    &:not(.no-notch) {
        .notch-blur {
            position: fixed;
            left: 0;
            top: 0;
            height: var(--safe-area-inset-top);
            width: 100%;
            z-index: 1000000;
            background-color: var(--primary-color);
            opacity: 1;
            transition: opacity 0.4s ease-in-out;
        }
    }

    &.no-notch {
        .notch-blur {
            display: none;
        }
    }

    &.modal-open {
        overscroll-behavior-y: none;

        .notch-blur {
            opacity: 0;
        }
    }
}

body,
div,
ul,
li,
span {
    position: relative;
}