<table style="margin-top: 50px;width: 100%;border-radius: 15px;border: 1px solid rgb(210 210 210);padding: 10px;font-size: 12px;">
    <tbody>
        <tr><td class="js-inform-ip" style="text-align: left">{{translation_ip}}: <strong>{{request_ip}}</strong> <i>{{request_location}}</i></td></tr>
        <tr><td class="js-inform-platform" style="text-align: left">{{translation_platform}}: <strong>{{request_platform}}</strong></td></tr>
        <tr><td class="js-inform-browser" style="text-align: left">{{translation_browser}}: <strong>{{request_browser}}</strong></td></tr>
    </tbody>
</table>
<div class="js-inform-recognition" style="font-weight: 400;font-size: 12px;margin-top: 10px;color: rgb(128 128 128);font-style: italic;">{{translation_caution}}</div>