<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location>
		<system.webServer>
			<httpErrors existingResponse="PassThrough" xdt:Locator="Match(existingResponse)" xdt:Transform="InsertIfMissing" />
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<remove name="aspNetCore" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="PRODUCTION" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
				</environmentVariables>
			</aspNetCore>
			<httpProtocol xdt:Transform="InsertIfMissing">
				<customHeaders>
					<remove name="X-Powered-By" />
					<remove name="X-Powered-By-Plesk" />
					<add name="X-XSS-Protection" value="1; mode=block" />
					<add name="X-Frame-Options" value="SAMEORIGIN" />
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
					<add name="Content-Security-Policy" value="default-src 'self'; child-src 'self' blob: ; worker-src 'self' blob: ; connect-src 'self' cloudflareinsights.com *.cloudflareinsights.com *.google.com *.google.com.tr *.gstatic.com *.googletagmanager.com *.sentry.io *.sentry-cdn.com *.doubleclick.net *.tiles.mapbox.com *.mapbox.com; font-src 'self' data:; frame-src 'self' *.google.com  *.mapbox.com; img-src 'self' *.mapbox.com *.googletagmanager.com *.google.com.tr blob: data:; media-src 'self'; object-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.sentry-cdn.com *.gstatic.com *.cloudflare.com *.cloudflareinsights.com *.sentry.io *.google.com *.google.com.tr *.googleapis.com *.googletagmanager.com; style-src 'self' 'unsafe-inline' *.mapbox.com;" />
					<add name="Referrer-Policy" value="same-origin" />
					<add name="Permissions-Policy" value="geolocation=(self), fullscreen=(self)" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
