hr {
    color: #F0F0F0;

    @at-root {

        .container,
        .container-fluid {
            hr.containerless {
                margin-right: calc(var(--bs-gutter-x) * 0.5 * -1);
                margin-left: calc(var(--bs-gutter-x) * 0.5 * -1);
            }
        }
    }
}